h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.msproject_task {
  display: table;
  width: 100%;
  margin-top: -1px;
}

.exists_already {
  background-color: #ffffdd;
}

.exists_already_text {
  padding-left: 10px;
  font-style: italic;
}

.msproject_task .task_spacer {
  display: table-cell;
  width: 15px;
  border-left: 1px dotted;
}

.msproject_task .task_description {
  padding: 5px 10px;
  display: table-cell;
  width: auto;
  border: 1px solid;
}

#content {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  text-align: center;
}

.infoText {
  margin-top: 40px;
  font-size: 32px;
  display: inline-block;
}


/* css classes for loading spinner */
.spinner {
  height: 50px;
  font-size: 10px;
  margin-top: 100px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 8px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
