<% content_for :header_tags do %>
  <%= javascript_include_tag 'angular', :plugin => 'msproject_sync' %>
  <%= javascript_include_tag 'uploadApp', :plugin => 'msproject_sync' %>
  <%= stylesheet_link_tag 'upload_styles', :plugin => 'msproject_sync' %>
<% end %>

<script>
  // bootstrap angular
  window.controller = {};
  window.controller.action = '<%= url_for({controller: 'msproject_uploads', action: 'uploadMSProjectFile'}) %>';
  window.controller.token = '<%= form_authenticity_token %>';

  window.trackers = <%= @project.trackers.to_json.html_safe %>;
  window.known_issues = <%= @known_issues.to_json.html_safe %>;
  window.custom_fields = <%= @custom_fields.to_json.html_safe %>;
</script>

<div ng-app="uploadApp">
  <div ng-controller="MSProjectFileController">
    <h4>MS Project File Upload</h4>
    <div class="flash {{flash.class}}" ng-if="flash.show">{{flash.text}}</div>
    <div class="overlay" ng-if="loading">
      <div class="spinner" ng-if="loading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="infoText">
        Sorry, that may take a minute
      </div>
    </div>
    <form ng-submit="uploadFile()">
      <table class="form-table">
        <tr>
          <td>MS Project XML Datei:</td>
          <td><input id="uploadFile" name="uploadFile" type="file" file-change="readXMLFile" accept=".xml"></td>
        </tr>
        <tr>
          <td>Tracker:</td>
          <td><select ng-options="tracker.name for tracker in win.trackers track by tracker.id" ng-model="selectedTracker"></select></td>
        </tr>
        <tr>
          <td><div ng-repeat="field in win.custom_fields[selectedTracker.id]">{{field.id}} -- {{field.name}}</div>
        </tr>
        <tr>
          <td>Delete old Issues</td>
          <td><input type="checkbox" ng-model="deleteOldIssues"></td>
        </tr>
      </table>
      <input type="submit" class="btn btn-default" value="Speichern">
    </form>
    <h4>Aufgaben</h4>
    <div class="tasks">
      <div class="msproject_task" ng-repeat="task in tasks">
        <div class="task_spacer" ng-repeat="i in [task.level] | makeRange"></div>
        <div ng-class="{task_description: true, exists_already: task.exists_already}">{{task.name}}
          <small class="exists_already_text" ng-if="task.exists_already">existiert bereits im System</small>
        </div>
      </div>
    </div>
  </div>
</div>
